<footer class="models2018-footer" role="contentinfo">
  <hr />
  <div class="container">
   <div class="row">
	   <p class="lead text-center">Supported by</p>
   </div>
    <div class="row" style="display: flex; align-items: center">
      <div class="col-xs-6">
        <a href="https://www.eclipse.org/research/" target="_blank" class="thumbnail" style="border: 0px;"><img style="max-height: 300px; height: auto" src="/assets/logos/Eclipse.png" alt="Eclipse Research" /></a>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="https://cdn.ncsu.edu/brand-assets/bootstrap/js/bootstrap.min.js"></script> -->


