<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/">fortiss MBSE</a> -->
          <a href="/"><img class="logo" src="/assets/logos/mbse.png" alt="Model Based Systems Engineering" /></a>

        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Area of study<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="0" href="/program/overview/index">Overview</a></li>
                <li><a tabindex="0" href="/program/">Detailed Program</a></li>
                <li><a tabindex="0" href="/program/tutorials">Tutorials</a></li>
                <li><a tabindex="0" href="/program/workshops">Workshops</a></li>
                <li><a tabindex="0" href="/program/posters">Posters</a></li>
                
              </ul>
            </li>

            <li class="dropdown">
              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Work with us<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="0" href="/calls/important-dates">Important Dates</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Call for Papers</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/calls/call">Full Call</a></li>
                    <li><a tabindex="0" href="/calls/call#foundations-track-papers">Foundations Track</a></li>
                    <li><a tabindex="0" href="/calls/call#practice-and-innovation-track">Practice and Innovation Track</a></li>
                    <li><a tabindex="0" href="/calls/call#submission-and-evaluation-process">Submission and Evaluation Process</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Workshops</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/calls/workshops">Workshops Call</a></li>
                    <li><a tabindex="0" href="/calls/workshops#important-dates">Important Dates</a></li>
                    <li><a tabindex="0" href="/calls/workshops#workshop-proposal-guidelines">Workshop Proposal Guidelines</a></li>
                    <li><a tabindex="0" href="/calls/workshops#submission-guidelines">Submission Guidelines</a></li>
                    <li><a tabindex="0" href="/calls/workshops#selection-committee">Selection Committee</a></li>
                    <li><a tabindex="0" href="/calls/workshops#organizers-and-contact-information">Organizers and Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Tutorials</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/calls/tutorials">Tutorials Call</a></li>
                    <li><a tabindex="0" href="/calls/tutorials#important-dates">Important Dates</a></li>
                    <li><a tabindex="0" href="/calls/tutorials#topics">Topics</a></li>
                    <li><a tabindex="0" href="/calls/tutorials#submission-guidelines">Submission Guidelines</a></li>
                    <li><a tabindex="0" href="/calls/tutorials#selection-committee">Selection Committee</a></li>
                    <li><a tabindex="0" href="/calls/tutorials#organizers-and-contact-information">Organizers and Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Tools and Demonstrations</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/calls/tools-and-demos">Tools and Demonstrations Call</a></li>
                    <li><a tabindex="0" href="/calls/tools-and-demos/lightning-tool-demos.html">Lightning Tool Demonstrations Call</a></li>
                    <li><a tabindex="0" href="/calls/tools-and-demos#important-dates">Important Dates</a></li>
                    <li><a tabindex="0" href="/calls/tools-and-demos#submission-guidelines">Submission Guidelines</a></li>
                    <li><a tabindex="0" href="/calls/tools-and-demos#program-committee">Program Committee</a></li>
                    <li><a tabindex="0" href="/calls/tools-and-demos#organizers-and-contact-information">Organizers and Contact</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Posters</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/calls/posters">Posters Call</a></li>
                    <li><a tabindex="0" href="/calls/posters#important-dates">Important Dates</a></li>
                    <li><a tabindex="0" href="/calls/posters/#poster-submissions">Submissions</a></li>
                    <li><a tabindex="0" href="/calls/posters/#selection-committee">Selection Committee</a></li>
                    <li><a tabindex="0" href="/calls/posters/#organizers-and-contact-information">Organizers and Contact</a></li>
                  </ul>
                </li>
                <li><a href="/calls/artifact-evaluation">Artifact Evaluation</a></li>
                <li><a href="/calls/acm-src">ACM Student Research Competition</a></li>
                <li><a href="/calls/doctoral-symposium">Doctoral Symposium</a></li>
                <li><a href="http://www.edusymp.org/2018/" target="_blank">Educators Symposium</a></li>
                <li><a href="/calls/student-volunteers">Student Volunteers</a></li>
                <li><a href="/calls/sponsors">Sponsors Call</a></li>
                <li><a href="/calls/satellite-events">Satellite Events Call</a></li>
              </ul>
            </li>                
           <li class="dropdown">
              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Our Team<span class="caret"></span></a>
              <ul class="dropdown-menu">
                
                <li><a tabindex="0" href="/team/organizing-committee">Organizing Committee</a></li>
                <li class="dropdown-submenu">
                  <a tabindex="0" >Program Committee</a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="0" href="/team/program-committee#foundations">Foundations Track</a></li>
                    <li><a tabindex="0" href="/team/program-committee#practice">Practice and Innovation Track</a></li>
                  </ul>
                </li>
                <li><a tabindex="0" href="/team/program-board">Program Board</a></li>
                <li><a tabindex="0" href="/team/steering-committee">Steering Committee</a></li>
              </ul>
            </li>

           <li class="dropdown">
              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Blog<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="0" href="/blog/jetbrains">Jetbrains MPS</a></li>
              </ul>
            </li>           

            <li class="dropdown">
              <a href="" class="dropdown-toggle" role="button" data-toggle="dropdown" data-submenu>Location<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a tabindex="0" href="/attending/venue">Venue</a></li>
                <li><a tabindex="0" href="/registration">Registration</a></li>
                <li><a tabindex="0" href="/attending/hotels">Hotels</a></li>
                    <li><a tabindex="0" href="/attending/travel-support">Student Travel Support </a></li>    
                <li><a tabindex="0" href="/attending/visa">Visa</a></li>
              </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
